#!/bin/bash

export EXCEPTIONS_SENDER="spdt@soundcloud.com"
export EXCEPTIONS_RECIPIENT="org-developers@someorg.org"

export SPDT_DIRECTORY="/srv/spdt"

export WEB_HDFS="http://hadoop-namenode.some-net.net:50070/webhdfs/v1"
